In [68]:
import pandas as pd 
import numpy as np 

df= pd.read_csv('heart_disease.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [69]:
df.empty

False

In [70]:
df.tail(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [72]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [73]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [74]:
df = df.rename(columns=({'cp':'chest_pain_type', 
'trestbps':'bloodp_atrest',
'chol':'cholesterol', 
'fbs':'glucose_fasting', 
'thalach':'max_heart_rate', 
'exang':'angina_stres', 
'oldpeak':'heartstres_exercise', 
'slope':'slope_st', 
'ca':'vessel_colored', 
'thal':'thalium_result', 
'target':'heart_disease'}))
df.head()

,age,sex,chest_pain_type,bloodp_atrest,cholesterol,glucose_fasting,restecg,max_heart_rate,angina_stres,heartstres_exercise,slope_st,vessel_colored,thalium_result,heart_disease
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [75]:
df['heart_disease'] = pd.Categorical(df['heart_disease'])
df['thalium_result'] = pd.Categorical(df['thalium_result'])
df['vessel_colored'] = pd.Categorical(df['vessel_colored'])
df['slope_st'] = pd.Categorical(df['slope_st'])
df['heartstres_exercise'] = pd.Categorical(df['heartstres_exercise'])
df['angina_stres'] = pd.Categorical(df['angina_stres'])
df['restecg'] = pd.Categorical(df['restecg'])
df['glucose_fasting'] = pd.Categorical(df['glucose_fasting'])
df['chest_pain_type'] = pd.Categorical(df['chest_pain_type'])
df['sex'] = pd.Categorical(df['sex'])

df.describe(include='all')

,age,sex,chest_pain_type,bloodp_atrest,cholesterol,glucose_fasting,restecg,max_heart_rate,angina_stres,heartstres_exercise,slope_st,vessel_colored,thalium_result,heart_disease
count,303.000000,303.0,303.0,303.000000,303.000000,303.0,303.0,303.000000,303.0,303.0,303.0,303.0,303.0,303.0
unique,NaN,2.0,4.0,NaN,NaN,2.0,3.0,NaN,2.0,40.0,3.0,5.0,4.0,2.0
top,NaN,1.0,0.0,NaN,NaN,0.0,1.0,NaN,0.0,0.0,2.0,0.0,2.0,1.0
freq,NaN,207.0,143.0,NaN,NaN,258.0,152.0,NaN,204.0,99.0,142.0,175.0,166.0,165.0
mean,54.366337,NaN,NaN,131.623762,246.264026,NaN,NaN,149.646865,NaN,NaN,NaN,NaN,NaN,NaN
std,9.082101,NaN,NaN,17.538143,51.830751,NaN,NaN,22.905161,NaN,NaN,NaN,NaN,NaN,NaN
min,29.000000,NaN,NaN,94.000000,126.000000,NaN,NaN,71.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,47.500000,NaN,NaN,120.000000,211.000000,NaN,NaN,133.500000,NaN,NaN,NaN,NaN,NaN,NaN
50%,55.000000,NaN,NaN,130.000000,240.000000,NaN,NaN,153.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,61.000000,NaN,NaN,140.000000,274.500000,NaN,NaN,166.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,77.000000,NaN,NaN,200.000000,564.000000,NaN,NaN,202.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df.sex.value_counts(normalize=True)

1    0.683168
0    0.316832
Name: sex, dtype: float64

In [90]:
df.age.min()

29

In [91]:
df.age.max()

77

Heart disease are generally more frequent in elderly population in the next code snippet we'll select frome the data set a sub population with age under 40 and some parameter along with the column stating if a particular patiant has heart disease. We can see some correlation with the predicting healt parameter for heart disease with some exceptions. We analize in more depth two exception using some filtering and indexing.

In [85]:
df.loc[df.age<40, ['sex', 'heart_disease', 'cholesterol', 'glucose_fasting', 'max_heart_rate','slope_st']]

    sex heart_disease  cholesterol glucose_fasting  max_heart_rate slope_st
1     1             1          250               0             187        0
44    1             1          321               0             182        2
58    1             1          182               0             174        2
65    0             1          183               0             182        2
72    1             1          204               0             202        2
115   0             1          215               0             170        2
124   0             1          199               0             179        2
125   0             1          210               0             192        2
154   0             1          220               0             152        1
157   1             1          192               0             174        2
163   1             1          175               0             173        2
164   1             1          175               0             173        2
212   1             0          219               0             140        1
227   1             0          198               0             130        1
239   1             0          282               0             156        2
259   1             0          231               0             182        1

In [104]:
df.loc[(df.max_heart_rate==187) & (df.cholesterol==250)]

,age,sex,chest_pain_type,bloodp_atrest,cholesterol,glucose_fasting,restecg,max_heart_rate,angina_stres,heartstres_exercise,slope_st,vessel_colored,thalium_result,heart_disease
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1

In [101]:
df.iloc[239]

age                     35.0
sex                      1.0
chest_pain_type          0.0
bloodp_atrest          126.0
cholesterol            282.0
glucose_fasting          0.0
restecg                  0.0
max_heart_rate         156.0
angina_stres             1.0
heartstres_exercise      0.0
slope_st                 2.0
vessel_colored           0.0
thalium_result           3.0
heart_disease            0.0
Name: 239, dtype: float64

[72, 238]