In [2]:
import pandas as pd 
import numpy as np 

df= pd.read_csv('heart_disease.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [5]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [15]:
df = df.rename(columns=({'cp':'chest_pain_type', 
'trestbps':'bloodp_atrest',
'chol':'cholesterol', 
'fbs':'glucose_fasting', 
'thalach':'max_heart_rate', 
'exang':'angina_stres', 
'oldpeak':'heartstres_exercise', 
'slope':'slope_st', 
'ca':'vessel_colored', 
'thal':'thalium_result', 
'target':'heart_disease'}))
df.head()

,age,sex,chest_pain_type,bloodp_atrest,cholesterol,glucose_fasting,restecg,max_heart_rate,angina_stres,heartstres_exercise,slope_st,vessel_colored,thalium_result,heart_disease
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1